* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --animation-duration: 2s;
}

html {
    font-family: Helvetica, sans-serif;
    --primary-color: #008080;
    --secondary-color: black;
    --contrast-color: #ffffff;
    --third-color: gray;
    --hilight-color: #FFD700;
    --gradient-color: linear-gradient(to right, red, white);
    font-size: 16px;
}

body {
    background-color: rgb(48, 48, 48);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--contrast-color);
}

/* header nav layout */
.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h2 {
    color: var(--contrast-color);
    border: 4px solid var(--primary-color);
}

.icon-animate img {
    position: fixed;
    max-width: 5rem;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.2rem;
}

header li a {
    color: var(--contrast-color);
    text-decoration: none;
}

header li a:hover {
    color: var(--hilight-color);
    text-decoration: underline;
}

#checkbox:checked ~ .quick-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#checkbox {
    display: none;
}

#checkbox-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../Assets/logo/menu.png');
    background-size: cover;
    z-index: 2;
}

.quick-logo {
    display: none;
}

.quick-logo img{
    max-width: 2rem;
}

@keyframes jumping {
    0% { transform: translateY(0); }
    25% { transform: translateY(-30px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
 }

 .icon-animate:hover {
    animation: jumping 2s ease forwards;
 }

/* main layout */
main h2 {
    color: var(--contrast-color);
    font-size: 3rem;
    margin: 3rem 0 1rem 0;
}

.main-text {
    color: var(--hilight-color);
}

main p {
    color: var(--contrast-color);
    font-size: 1.5rem;
    line-height: 2rem;
}

main img {
    width: 15rem;
    height: auto;
    
    float: right;
}

@media screen and (min-width: 600px){
    .none {
        display: none;
    }
}